# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

vendor/
node_modules/
build/

# Testing
.phpunit.cache/
coverage/
artifacts/
